<div class="mt-4">
    <h3 class="createBlogs">Tao bai viet</h3>
    <form method="POST" action="/blogs/store">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Them Khoa Hoc</button>
    </form>
</div>